*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  /* set body font */
  body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   
  }
  /* body::before{
    content: "";
    position: fixed;
    background-image: url(img/admin.jpeg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
     filter: opacity(0.3);
     width: 100%;
     height: 100%;
  } */

  .container::before{
    content: "";
    position: fixed;
    background-image: url(img/admin.jpeg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
     filter: opacity(0.3);
     width: 100%;
     height: 400%;
  }

  /* Start with the nav-bar */
  nav{
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    background-color: teal;
    position: relative;
    z-index: 5;
  }
  nav a {
    float: left;
    font-size: 20px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  /* Set the drop-down */
  .drop-down{
      float: left;
     
  }
  /* Dropdown button */
  .drop-down, .drop-down button, .nav-search  {
    font-size: 20px;
    border: none;
    outline: none;
    color: white;
    padding: 8px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Dropdown content (hidden by default) */
  .drop-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  /* Links inside the dropdown */
  .drop-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .drop-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .drop-down:hover .drop-content {
      
    display: block;
    border-radius: 5px;
    position: relative;
    
  }
  #search, .nav-search button{
      padding: 8px;
    border-radius: 5px;
    border: thin solid;
  
  }
  
  .nav-search button{
    cursor: pointer;
  }
  

  
/* design the container */
.container{
    display: grid;
    justify-content: center;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}


form h2{
  text-align: center;
}

 
  

  form{
    font-size: 16px;
    width: 100%;
   position: relative;
    height: 25%;
  
    color: teal; 
 }


 .fa-envelope{
  position: relative;
  left: -4%;
   top: 45%;
  
 }
 .fa-key{
  position: relative;
  left: -4%;
  top: 46%;
 }
 .fa-male{
  position: relative;
  left: -4%;
  top: 44%;
 }
 
 form input {
     width: 100%;
     height: 100%;
     color: black;
     padding-top:20px;
     border: none;
     outline: none;
     font-size: 100%;
     background: transparent;
 
 }
 /* form label {
     position: relative;
     bottom: 0px;
     left: 0%;
     height: 100%;
     width: 100%;
     pointer-events: none;
     border-bottom: 1px solid black;
 } */

 .label-name {
  position: absolute;
  top: 42%;
  
  left: 0%;
  height: 100%;
  width: 100%;
  pointer-events: none;
  border-bottom: 1px solid teal;
}

.label-name1 {
  position: absolute;
 top: 169%;
  right: 0%;
  height: 100%;
  width: 100%;
  pointer-events: none;
  border-bottom: 1px solid teal;
}

.label-name2 {
  position: absolute;
 top: 294%;
  right: 0%;
  height: 100%;
  width: 100%;
  pointer-events: none;
  border-bottom: 1px solid teal;
}
 
 
.label-name::after{
  content: "";
  position: absolute;
  left: 0px;
  top: -1px;
  height: 100%;
  width: 100%;
  border-bottom: 2px solid black;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
display: none;
  }
 
  

  .label-name1::after{
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  border-bottom: 2px solid black;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
 display: none;
  }
 

 
 span{
 position: absolute;
 bottom: 30%;
 left: 0px;
 transition: all 0.3s ease;
 }

 

 
 form input:focus + .label-name .content-name,
  form input:valid + .label-name .content-name {
     transform: translateY(-150%);
     font-size: 14px;
     color: black;
 }


 form input:focus + .label-name1 .content-name1,
 form input:valid + .label-name1 .content-name1 {
    transform: translateY(-150%);
    font-size: 14px;
    color: black;
}

form input:focus + .label-name2 .content-name2,
form input:valid + .label-name2 .content-name2 {
   transform: translateY(-150%);
   font-size: 14px;
   color: black;
}



 
 form input:focus + .label-name::after, form input:valid + .label-name::after{
     transform: translateX(0%);
 }
 

 form input:focus + .label-name1::after, form input:valid + .label-name1::after{
  transform: translateX(0%);
}

form input:focus + .label-name2::after, form input:valid + .label-name2::after{
  transform: translateX(0%);
}


form button{
 
  color: teal;
  background: transparent;
  width: 100%;
  height: 100%;
  font-size: large;
  border-radius: 5px;
  border: thin solid rgb(158, 248, 236);
  padding: 5%;

}
form button:hover{
  cursor: pointer;
  background: teal;
  color: white;
}





































 







@media (max-width:800px) {
  body{

    background-position-x: 40%;
    background-position-y: -40%;

    background-repeat: no-repeat;  
  }
  nav{
    display: block;
 
    
    background-color: teal;
}
}



























































  main{
    color: green;
    background-color: lightgreen;
    font-size: medium;
  font-size: x-large;
  width: 100%;
  height: 100%;
}
  

 section
 {color: red;
  background: rgb(206, 154, 154);
  font-size: medium;
  font-size: x-large;
  width: 100%;
  height: 100%;
}
