*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* set body font */
body{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 
}

body::before{
content: '';
position: fixed;
background-image: url(img/lib-student.jpeg);
background-position: center center;
background-attachment: fixed;
filter: blur(10px);
}
/* Start with the nav-bar */
nav{
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  background-color: teal;
  position: relative;
  z-index: 1;
}
nav a {
  float: left;
  font-size: 24px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
/* Set the drop-down */
.drop-down{
    float: left;
   
}
/* Dropdown button */
.drop-down, .drop-down button, .nav-search  {
  font-size: 24px;
  border: none;
  outline: none;
  color: white;
  padding: 8px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Dropdown content (hidden by default) */
.drop-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
/* Links inside the dropdown */
.drop-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.drop-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.drop-down:hover .drop-content {
  position: relative;
  display: block;
  border-radius: 5px;
}
#search, .nav-search button{
    padding: 8px;
  border-radius: 5px;
  border: thin solid;

}

.nav-search button{
  cursor: pointer;
}

/* design the container */
.container::before{
content: "";
position: fixed;
background-image: url(img/lib-student.jpeg);
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
 filter: opacity(0.3);
 width: 500%;
 height: 500%;
 
}
.container{
display: grid;
justify-content: center;
align-items: center;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}


form h2{
text-align: center;
margin-bottom: 2%;
}

t{
color: red;
}



form{
position: relative;
font-size: 16px;
width: 100%;
margin-top: 10%;
border: 2px solid teal;
border-radius: 8px;
padding: 15px;
color: teal; 
}




form input {
 width: 100%;
 
 color: black;
 border-bottom: 1px solid teal;
 border-right: none;
 border-left: none;
border-top: none;
 outline: none;
 font-size: 100%;
 background: transparent;

}

select{
width: 100%;

color: black;
border: none;
border-bottom: 1px solid teal;
outline: none;
font-size: 100%;
background: transparent;

}

span{
height: 15vh;

}





form button{
padding: 15px;
color: teal;
background: transparent;
width: 100%;
height: 50%;
font-size: large;
border-radius: 5px;
border: thin solid rgb(158, 248, 236);

}
form button:hover{
cursor: pointer;
background: teal;
color: white;
}













































@media (max-width:800px) {
body{

 background-position-x: 40%;
 background-position-y: -40%;

 background-repeat: no-repeat;  
}
nav{
 display: block;
justify-content: start;
 
 background-color: teal;
}
}












































main{
color: green;
background-color: lightgreen;
font-size: 20px;
position: relative;
z-index: 3;
}

section
{
  z-index: 3;
  position: relative;
  color: red;
background: rgb(206, 154, 154);
font-size: medium;
font-size: x-large;
width: 100%;
height: 100%;
}



































































